@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
  border: none;
  outline: none;
  letter-spacing: 1px;
}
.container {
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
}

/*Nav bar styling starts here*/
nav {
  height: 75px;
  background-color: gray;
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 25px;
  color: aliceblue;
  font-weight: 400;
  letter-spacing: 2px;
}
.logo:hover {
  color: black;
  font-size: 30px;
  font-weight: 600;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 55%;
}

.nav-links li a {
  color: azure;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}
.nav-links li a:hover {
  color: black;
  font-size: 22px;
  font-weight: 800;
}
.nav-links li a:active {
  color: darkblue;
}

/*Header styling starts here*/

header {
  padding-top: 150px;
}
.header-img {
  height: 400px;
  width: 400px;
  border-radius: 200px;
}

.header-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.about-me {
  margin-top: 20px;
  text-align: left;
}
.about-me-lorem {
  text-align: justify;
}
.header-right {
  text-align: center;
  margin: auto;
}
.header-action-area {
  padding: 40px;
  gap: 30px;
  display: flex;
  justify-content: center;
}
.btn {
  border: 2px solid;
  border-radius: 200px;
  padding: 6px;
  width: 180px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn:hover span {
  padding-right: 25px;
}
.btn:hover span:after {
  opacity: 1;
  right: 0;
}
